.main_content {
    background: #4c5253;
    height: 100vh;
    padding: 50px;

    .btn_back {
        position: absolute;
    }

    .btn_view {
        position: absolute;
        right: 50px;
    }

    .content {
        background: #49909c;
        border-radius: 15px;
        padding: 30px;
        padding-top: 40px;

        h1 {
            margin-bottom: 16px;
        }

        .btn_search {
            background: #4c5253;
        }

        .table_content {
            max-height: 72vh;

            .username {
                font-weight: 600;
            }

            .user_img {
                width: 60px;
                border-radius: 30px;
            }

            .icon_star {
                position: relative;
                top: -2px;
            }
        }
    }
}
