<div class="main_content">

    <button mat-raised-button color="primary" class="btn_new" (click)="openLoginModal()">Login</button>

    <h1>Test Angular/.net</h1>

    <mat-tab-group>
        <mat-tab label="People">
    
            <button mat-raised-button color="primary" class="btn_new" (click)="openModalNewPerson()">New</button>
    
            <div class="table-responsive">
                <table mat-table [dataSource]="people" class="table mat-elevation-z2" style="min-width: 400px;">
    
                    <ng-container matColumnDef="Fullname">
                        <th mat-header-cell *matHeaderCellDef> Fullname </th>
                        <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element">{{element.email}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="DNI">
                        <th mat-header-cell *matHeaderCellDef> DNI </th>
                        <td mat-cell *matCellDef="let element">{{element.dni}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="DNI_type">
                        <th mat-header-cell *matHeaderCellDef> DNI type </th>
                        <td mat-cell *matCellDef="let element">{{element.dnI_type}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Date_created">
                        <th mat-header-cell *matHeaderCellDef> Date created </th>
                        <td mat-cell *matCellDef="let element">{{element.date_created | date}}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPeople"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPeople;"></tr>
                </table>
            </div>
        
        </mat-tab>
    
        <mat-tab label="Users">

            <button mat-raised-button color="primary" class="btn_new" (click)="openModalNewUser()">New</button>
    
            <div class="table-responsive">
                <table mat-table [dataSource]="users" class="table mat-elevation-z2" style="min-width: 400px;">
    
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element">{{element.username}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="date_created">
                        <th mat-header-cell *matHeaderCellDef> Date created </th>
                        <td mat-cell *matCellDef="let element">{{element.date_created | date}}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
                </table>
            </div>
    
        </mat-tab>
      </mat-tab-group>

</div>